<!-- Encabezado !-->
<%= render 'layouts/header' %>
<section class="newRequestPage">
  <% if member_signed_in? %>
    <div class="alredyin">
      <h1>Q verga :v</h1>
    </div>
  <% end %>
  <div class="requestContainer">
    <div class="requestContent">
      <div class="subtitle">
        <h1>Llena tu solicitud</h1>
      </div>
      <%= render 'form', request: @request %>
    </div>
  </div>

</section>
