<footer>
  <div class="footer-container">
    <ul class="list-links">
      <li><a href="#" class="icon-mail4"></a></li>
      <li><a href="#" class="icon-google-plus3"></a></li>
      <li><a href="#" class="icon-github"></a></li>
    </ul>
    <ul class="list-info">
      <li>Autor: Alfonso Valencia</li>
      <li class="mid">Ultra-Hardcore Latinoamérica</li>
      <li>License: Not defined yet</li>
    </ul>
  </div>
</footer>
